<div class="sidebar">

  <div class="menuBlock">
    <p><b><%= link_to raw('&raquo; Create new pool'), new_pool_path %></b></p>
  </div>

  <div class="menuBlock">
    <h2>Statistics</h2>
    <ul>
      <li>Pools: <%= @pools.count %></li>
    </ul>
  </div>

</div>

<div class="main">

<h2>Listing pools</h2>

<table class="tagList">
  <tr>
    <th class="poolName">Name</th>
    <th class="poolDest">Description</th>
    <th class="poolDest">Counts</th>
    <th class="poolCreated">Created</th>
    <th class="poolCreated">Status</th>
    <th></th>
  </tr>

<% @pools.each_with_index do |pool, i| %>
  <tr class="<%= odd_or_even i %>">
    <td><%= link_to pool.name, pool_path(pool) %></td>
    <td><%= pool.description %></td>
    <td><%= pool.poolings_count %></td>
    <td><%= time_to_date(pool.created_at) %></td>
    <td><%= pool.closed ? "close" : "OPEN" %></td>
    <td><%= link_to 'Edit', edit_pool_path(pool) %></td>
  </tr>
<% end %>
</table>

<div class="pageNavi">
  <%= will_paginate @wallpapers, previous_label: '&laquo; Prev', next_label: 'Next &raquo;' %>
</div>

</div>
