<div class="sidebar">

<div class="menuBlock">
  <p><b><%= link_to ">> Post wallpaper", new_wallpaper_path %></b></p>
</div>

<div class="menuBlock">
  <h2>Search</h2>
<% form_tag 'wallpapers', :method => :get do %>
  <p><%= text_field_tag :tags, params[:tags] %></p>
  <%= submit_tag 'Search' %>
<% end %>
</div>

<div class="menuBlock">
  <h2>Tags</h2>
  <ul>
  <% @tags_on_page.sort.each do |tagname| -%>
    <li><%= link_to tagname, :action => 'index', :tags => tagname %> (<%= @tags.select{|t| t.name == tagname}.count %>)</li>
  <% end -%>
  </ul>
</div>

<div class="menuBlock">
  <h2>Statistics</h2>
  <ul>
    <li>Wallpapers: <%=h @wallpapers.count %></li>
    <li>Image files: <%=h @total_images %></li>
  </ul>
</div>

</div>

<div class="main">

<ul class="wpList">
<% for wallpaper in @wallpapers %>
  <li class="wpBox">
    <%= link_to (image_tag thumbnail_path(wallpaper), :alt => wallpaper.title, :title => wallpaper.title),
                :action => 'show',
                :id => wallpaper,
                :tags => params[:tags] %>
    <h3><%=h wallpaper.title %></h3>
  </li>
<% end %>
</ul>

</div>
