<div class="sidebar">

<div class="menuBlock">
<h2>Sizes</h2>
<ul>
<% @wallpaper.images.each do |img| -%>
  <li><%= link_to img.size_string, url_to_image(img) %></li>
<% end -%>
  <li><%= link_to raw("&raquo; Add another size"), :controller => 'images', :action => 'new', :wpid => @wallpaper.id %>
</ul>
</div>

<div class="menuBlock">
<h2>Tags</h2>
<ul>
<% @tags.each do |tag| -%>
  <li><%= link_to tag.name, :action => 'index', :tags => tag.name %></li>
<% end -%>
</ul>
</div>

<div class="menuBlock">
<h2>Statistics</h2>
<ul>
  <li>Id: <%=h @wallpaper.id %></li>
  <li>Title: <%=h @wallpaper.title %></li>
  <li>Creator: <%=h @wallpaper.creator %></li>
  <li>Series: <%=h @wallpaper.series %></li>
  <li>Source: <%= @wallpaper.source %></li>
  <li>Posted: <%=h time_to_date(@wallpaper.created_at) %></li>
</ul>
</div>

<div class="menuBlock">
<h2>Option</h2>
<ul>
  <li><%= link_to 'Add another size', :controller => 'images', :action => 'new', :wpid => @wallpaper.id %>
  <li><%= link_to 'Edit', edit_wallpaper_path(@wallpaper) %></li>
  <li><%= link_to 'Add to pool', :controller => 'poolings', :action => 'new', :wpid => @wallpaper.id %>
  <li><%= link_to 'Delete', @wallpaper, :confirm => 'Are you sure?', :method => :delete %></li>
</ul>
</div>

<hr>

<div class="menuBlock">
<%= link_to 'Back', :action => 'index', :page => session[:page], :tags => params[:tags] %>
</div>

</div>

<div class="main">

<% if @wallpaper.pools %>
  <% @wallpaper.poolings.each do |pooling| %>
    <div>This wallpaper belongs to the <%= link_to pooling.pool.name, pooling.pool %> pool.
         (<%= link_to 'remove from pool', pooling, :confirm => 'Are you sure?', :method => :delete %>)</div>
  <% end%>
<% end%>

  <%= image_tag sample_path(@wallpaper) %>
</div>
