<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wallpaper.title %>
</p>

<p>
  <strong>Series:</strong>
  <%= @wallpaper.series %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @wallpaper.creator %>
</p>

<p>
  <strong>Source:</strong>
  <%= @wallpaper.source %>
</p>

<p>
  <strong>Thumbnail path:</strong>
  <%= link_to @wallpaper.thumbnail_path, "/wallpapers/thumbnail/#{@wallpaper.id}" %>
</p>

<p>
  <strong>Sample path:</strong>
  <%= link_to @wallpaper.sample_path, "/wallpapers/sample/#{@wallpaper.id}" %>
</p>

<p>
  <strong>Tags:</strong>
  <ul>
    <% @wallpaper.tags.each do |tag| %>
    <li><%= tag.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Images:</strong>
  <ul>
    <% @wallpaper.images.each do |img| %>
    <li><%= img.path %> (<%= img.size_string %>)</li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_wallpaper_path(@wallpaper) %> |
<%= link_to 'Add new size', new_image_path %> |
<%= link_to 'Back', wallpapers_path %>
