<div class="sidebar">

<div class="menuBlock">
  <h2>Order by</h2>
<% form_tag 'tags', {:method => 'get'} do %>
  <%= select_tag 'order', options_for_select({"Id" => 'id', "Name" => 'name', "Count" => 'count'}, 'name') %>
  <%= submit_tag 'Reset' %>
<% end %>
</div>

</div>

<div class="main">

<h2>Listing tags</h2>

<table class="tagList">
  <tr>
    <th class="tagId">Id</th>
    <th class="tagName">Name</th>
    <th class="tagCount">Count</th>
    <th></th>
  </tr>

  <% @tags.each_with_index do |tag, i| %>
  <tr class="<%= odd_or_even i %>">
    <td><%=h tag.id %></td>
    <td><%= link_to tag.name, :controller => 'wallpapers', :action => 'index', :tags => tag.name %></td>
    <td><%=h tag.count %></td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
  </tr>
  <% end %>

</table>


</div>
