<%= form_for(@pooling) do |f| %>
  <% if @pooling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pooling.errors.count, "error") %> prohibited this pooling from being saved:</h2>

      <ul>
      <% @pooling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Pool" %><br>
    <%= f.collection_select :pool_id, @pools, :id, :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :wallpaper_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
