<!DOCTYPE html>
<html>
<head>
  <title>Tonzlr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <h1><%= link_to 'Tonzlr', :controller => :wallpapers, :action => 'index' %></h1>
</div>

<ul class="flatList">
  <li><%= link_to 'Wallpapers', :controller => 'wallpapers', :action => 'index' %></li>
  <li><%= link_to 'Tags', :controller => 'tags', :action => 'index' %></li>
  <li><%= link_to 'Pools', :controller => 'pools', :action => 'index' %></li>
</ul>


<p style="color: green"><%= flash[:notice] %></p>


<%= yield %>

</body>
</html>
